html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #F0EDF5;
  /* overflow-x: hidden; */
}

.select-option{
  background: #E4E4E4 !important;
  color: #3D3D4C;
  font-size: 0.9rem;
  padding: 0.2rem !important;
}

body::-webkit-scrollbar {
  width: 0.8rem;
  position: absolute;
  display: none;
}

body::-webkit-scrollbar-track {
  background-color:  rgba(0, 0, 0, 0.15);
  box-shadow: 0  0 6px rgba(0, 0, 0, 0.1);
  position: absolute;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
  opacity: 0.1;
  border-radius: 0.2rem;
  position: absolute;
}

.class-video{
  border-radius: 1rem;
  border: 4px solid #6548A3;
  width: 640px!important;
  height: 360px!important;
}

.class-description p + p{
  margin-top: 0.6rem;
}

@media(max-width: 768px){
  .class-video{
    width: 100%!important;
  }
}


