html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.select-option{
  background: #D2C3F1 !important;
  color: #3D3D4C;
  font-size: 0.9rem;
  padding: 0.2rem !important;
}



